{% extends 'flights/layout.html' %}


{% block title %}- Flights{% endblock %}

{% block content %}
<h1>Flights</h1>

<table class="table">
    <thead>
        <tr>
            <th>Flight</th>
            <th>Origin</th>
            <th>Destination</th>
            <th>Duration</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for flight in flights %}
        <tr>
            <td>{{ flight.id }}</td>
            <td>{{ flight.origin }}</td>
            <td>{{ flight.destination }}</td>
            <td>{{ flight.duration }} min.</td>
            <td>
                <a href="{% url 'details' flight.id %}" class="btn btn-outline-primary">Details</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}